<div class="video-info__wrapper">
  <div class="back-btn"></div>
  <div class="video-info__card card">
    <img class="card__img" src="../../../../assets/img/video.jpg" alt="video stub">
    <div class="card__text-block text-block">
      <div class="text-block__title-block">
        <h3 class="text-block__title">Kuji Podcast #20</h3>
        <div class="text-block__date">Thursday, December 20, 2019</div>
      </div>
      <div class="text-block__descr">
        <span class="span">Description:</span>
        This Is KuJi Podcast. In this issue, Timur Karginov, Andrey Konyaev and Nurlan Saburov discuss the end of 2018: Khabib's fight with McGregor, Kokorin and Mamayev, Urgant's show on channel One, the economic crisis and gifts for loved ones.
      </div>
      <div class="text-block__social-activity social-activity">
        <div class="social-activity__block">
          <img src="../../../../assets/img/templates/viewed.svg" alt="viewed" class="social-activity__icon">
          <div class="social-activity__counter">1000</div>
        </div>
        <div class="social-activity__block">
          <img src="../../../../assets/img/templates/liked.svg" alt="liked" class="social-activity__icon">
          <div class="social-activity__counter">680</div>
        </div>
        <div class="social-activity__block">
          <img src="../../../../assets/img/templates/dislike.svg" alt="dislike" class="social-activity__icon">
          <div class="social-activity__counter">320</div>
        </div>
        <div class="social-activity__block">
          <img src="../../../../assets/img/templates/comments.svg" alt="comments" class="social-activity__icon">
          <div class="social-activity__counter">110</div>
        </div>
      </div>

      <div class="text-block__bottom-line"></div>
    </div>
  </div>
</div>
