@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.create-new-card-block {
  margin: 0 auto;
  padding: 37px 25px 32px;
  width: 432px;
  height: 493px;
  background-color: #F2F2F2;
  border-radius: 17.6119px;
  &__input-wrapper {
    width: 100%;
  }
  &__container {
    display: flex;
    justify-content: end;
  }
}

.create-new-card-block__card-header {
  margin-bottom: 27px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22.6439px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #000000;
}

.create-new-card-block__label {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  align-items: center;
  color: #828282;
}

.create-new-card-block__input {
  padding-top: 14px;
  margin-bottom: 15px;
  padding-bottom: 0;
  width: 99%;
  height: 44.76px;
  background-color: #E0E0E0;
  outline: none;
  border: none;
  font-size: 30px;
  }

.create-new-card-block__btn {
  background: #2F80ED;
  border-radius: 6.28997px;
  width: 188.7px;
  height: 37.74px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15.0959px;
  line-height: 18px;
  color: #FFFFFF;
  filter: drop-shadow(2.51599px 0px 5.03198px #2F80ED);
  border: none;
  cursor: pointer;
  &:hover {
    border: cornflowerblue;
  }
}
