<div class="login-form">
  <form action="#">
    <h3 class="login-form__header">Login</h3>
    <label class="login-form__line-title" for="login">login</label>
    <input class="login-form__input" type="text" id="login">
    <label class="login-form__line-title" for="password">password</label>
    <input class="login-form__input" type="password" id="password">

    <div class="login-form__action">
      <a class="login-form__registration" href="#" (click)="change()">Registration</a>
      <button class="login-form__btn btn" type="submit">Login</button>
    </div>
  </form>
</div>
