<header class="header">
  <div class="header__container container">

    <div class="header__search-box search-box">
      <div class="search-box__logo">
      </div>

      <div class="search-box__wrapper search_wrapper">
        <input class="search_wrapper__input" placeholder="What are you want to find out?">
        <button class="search_wrapper__btn btn">Search</button>
      </div>

      <div class="search-box__settings">
      </div>
    </div>

    <div class="auth-box">
      <div class="auth-box__name">Your Name</div>
      <div class="auth-box__avatar"></div>
    </div>
  </div>

  <div class="container">
    <app-error-msg></app-error-msg>
  </div>
</header>
