ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card {
  border: 0;
  background: #f4f5fb;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 2rem;
  box-shadow: none;
}

.nav-link {
  background: none;
  border: none;
}
