<h2>the header component starts</h2>

<nav class="navigation">
  <p>navigation title</p>
  <ul class="navigation__nav nav">
    <li class="nav__items">
      <a href="#" class="nav__links">Link 1</a>
    </li>
    <li class="nav__items">
      <a href="#" class="nav__links">Link 2</a>
    </li>
    <li class="nav__items">
      <a href="#" class="nav__links">Link 3</a>
    </li>
    <p>'p' link</p>
  </ul>
  <p #pElement>hello {{name}} from header component</p>
  <p>my age is {{age}}</p>

  <p appFontSize>html template {{pElement.dir}}</p>

  <p>***</p>

  <p>We have child component functions and we can watch its events</p>
  <p [ngClass]='{red:isRed}'>This is it: </p>
  <button type="submit" (click)="change(true)">+</button>
  <button type="submit" (click)="change(false)">-</button>

  <ng-content></ng-content>

  <p>***</p>
  <input type="text" [(ngModel)]="selectedName" placeholder="ВВедите имя" appRainbowKeyboard>

  <p *ngFor="let color of colors">{{color}}</p>

  <h2>the header component ends</h2>
  </nav>
