li {
  &.chat-left, &.chat-right {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-bottom: 40px;
  }

  img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
  }

  .chat-avatar {
    margin-right: 20px;
  }

  &.chat-right {
    justify-content: flex-end;

    & > .chat-avatar {
      margin-left: 20px;
      margin-right: 0;
    }

    & > .chat-text {
      text-align: right;

      &:before {
        right: -20px;
        border-color: transparent transparent transparent #ffffff;
        left: inherit;
      }
    }

    & > .chat-hour {
      margin: 0 15px 0 0;
    }
  }

  .chat-name {
    font-size: .75rem;
    color: #999999;
    text-align: center;
  }

  .chat-text {
    padding: .4rem 1rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #ffffff;
    font-weight: 300;
    line-height: 150%;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 10px;
      left: -20px;
      border: 10px solid;
      border-color: transparent #ffffff transparent transparent;
    }
  }

  .chat-hour {
    padding: 0;
    font-size: .75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 15px;

    & > span {
      font-size: 16px;
      color: #9ec94a;
    }
  }
}

@media (max-width: 767px) {
    li.chat-left, li.chat-right {
      flex-direction: column;
      margin-bottom: 30px;
    }

    li img {
      width: 32px;
      height: 32px;
    }

    .chat-left {
      .chat-avatar {
        margin: 0 0 5px 0;
        display: flex;
        align-items: center;
      }

      .chat-hour {
        justify-content: flex-end;
      }

      .chat-name {
        margin-left: 5px;
      }
    }

    .chat-right {
      .chat-avatar {
        order: -1;
        margin: 0 0 5px 0;
        align-items: center;
        display: flex;
        justify-content: right;
        flex-direction: row-reverse;
      }

      .chat-hour {
        justify-content: flex-start;
        order: 2;
      }

      .chat-name {
        margin-right: 5px;
      }
    }

    li .chat-text {
      font-size: .8rem;
    }
}
