<li class="chat-left">
  <div class="chat-avatar">
    <img src="assets/img/avatar.png" alt="avatar">
    <div class="chat-name">Russell</div>
  </div>
  <div class="chat-text">Hello, I'm Russell.
    <br>How can I help you today?
  </div>
  <div class="chat-hour">08:55</div>
</li>
<!--
<li class="chat-right">
  <div class="chat-hour">08:56</div>
  <div class="chat-text">Hi, Russell
    <br> I need more information about Developer Plan.
  </div>
  <div class="chat-avatar">
    <img src="assets/img/avatar.png">
    <div class="chat-name">Sam</div>
  </div>
</li>
<li class="chat-left">
  <div class="chat-avatar">
    <img src="assets/img/avatar.png">
    <div class="chat-name">Russell</div>
  </div>
  <div class="chat-text">Are we meeting today?
    <br>Project has been already finished and I have results to show you.
  </div>
  <div class="chat-hour">08:57</div>
</li>
<li class="chat-right">
  <div class="chat-hour">08:59</div>
  <div class="chat-text">Well I am not sure.
    <br>I have results to show you.
  </div>
  <div class="chat-avatar">
    <img src="assets/img/avatar.png">
    <div class="chat-name">Joyse</div>
  </div>
</li>
<li class="chat-left">
  <div class="chat-avatar">
    <img src="assets/img/avatar.png">
    <div class="chat-name">Russell</div>
  </div>
  <div class="chat-text">The rest of the team is not here yet.
    <br>Maybe in an hour or so?
  </div>
  <div class="chat-hour">08:57</div>
</li>
<li class="chat-right">
  <div class="chat-hour">08:59</div>
  <div class="chat-text">Have you faced any problems at the last phase of the project?</div>
  <div class="chat-avatar">
    <img src="assets/img/avatar.png">
    <div class="chat-name">Jin</div>
  </div>
</li>
<li class="chat-left">
  <div class="chat-avatar">
    <img src="assets/img/avatar.png">
    <div class="chat-name">Russell</div>
  </div>
  <div class="chat-text">Actually everything was fine.
    <br>I'm very excited to show this to our team.
  </div>
  <div class="chat-hour">07:00</div>
</li>
-->
