<div class="create-card-form">
  <h3 class="create-card-form__header">Create new card</h3>
  <form action="#">
    <label for="title" class="create-card-form__line-title">Title</label>
    <input class="create-card-form__input" id="title" type="text">
    <label for="descr" class="create-card-form__line-title">Discription</label>
    <input class="create-card-form__input" id="descr" type="text">
    <label for="img-link" class="create-card-form__line-title">Img</label>
    <input class="create-card-form__input" id="img-link" type="text">
    <label for="video-link" class="create-card-form__line-title">Link video</label>
    <input class="create-card-form__input" id="video-link" type="text">

    <div class="create-card-form__action">
      <button class="create-card-form__btn" type="submit">Create card</button>
    </div>
  </form>
</div>
