<div *ngIf="selectedConversation">
  <div class="selected-user">
    <span>To: <span class="name">{{selectedConversation.participants[1].username}}</span></span>
  </div>
  <div class="chat-container">
    <ul class="chat-box chatContainerScroll">
      <app-chat-message *ngFor="let message of selectedConversation.messages"></app-chat-message>
    </ul>
    <div class="form-group mt-3 mb-0">
      <textarea class="form-control" rows="3" placeholder="Type your message here..."></textarea>
    </div>
  </div>
</div>
