<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Metanit training App</title>
</head>
<body>
  <h1 appFontSize>main header from app component</h1>
  <input type="text" [(ngModel)]="ageUser">
<p>hello {{nameUser}} from app component</p>

  <app-header [name]="nameUser" [age]="ageUser" (onChanged)="superChange($event)"><p>Counter is {{counter}}</p> </app-header>

  <app-add-form (transferringName)="getName($event)" (transferringDescr)="getDescr($event)"></app-add-form>

  <app-temlpate-var #counter></app-temlpate-var>
  <button (click)="counter.changeCounter()">+</button>

<p *ngIf="condition;else another">hello</p>
 <ng-template #another>Another answer</ng-template>
<button (click)="toggle()">HEllo!</button>

<div [ngSwitch]="count">
  <ng-template ngSwitchCase="1">{{count * 10}}</ng-template>
  <ng-template ngSwitchCase="2">{{count*20}}</ng-template>
  <ng-template ngSwitchDefault>count is {{count}}</ng-template>
</div>
</body>
</html>
