<div class="container">

  <!-- Page header start -->
  <div class="page-title">
    <div class="row gutters">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <h5 class="title">Angular Messenger</h5>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12"></div>
    </div>
  </div>
  <!-- Page header end -->

  <!-- Content wrapper start -->
  <div class="content-wrapper">

    <!-- Row start -->
    <div class="row gutters">

      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

        <div class="card m-0">

          <!-- Row start -->
          <div class="row no-gutters">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">

            <app-chats-list></app-chats-list>
              </div>
            <app-chat [selectedConversation]="selectedConversation"></app-chat>
          </div>
          <!-- Row end -->
        </div>

      </div>

    </div>
    <!-- Row end -->

  </div>
  <!-- Content wrapper end -->

</div>
