.users-container {
  width: 100%;
  position: relative;
  padding: 1rem 0;
  border-right: 1px solid #e6ecf3;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.users {
  padding: 0;

  .person {
    position: relative;
    width: 100%;
    padding: 10px 1rem;
    cursor: pointer;
    border-bottom: 1px solid #f0f4f8;

    &:hover {
      background-color: #ffffff;
      /* Fallback Color */
      background-image: -webkit-gradient(linear, left top, left bottom, from(#e9eff5), to(#ffffff));
      /* Saf4+, Chrome */
      background-image: -webkit-linear-gradient(right, #e9eff5, #ffffff);
      /* Chrome 10+, Saf5.1+, iOS 5+ */
      background-image: -moz-linear-gradient(right, #e9eff5, #ffffff);
      /* FF3.6 */
      background-image: -ms-linear-gradient(right, #e9eff5, #ffffff);
      /* IE10 */
      background-image: -o-linear-gradient(right, #e9eff5, #ffffff);
      /* Opera 11.10+ */
      background-image: linear-gradient(right, #e9eff5, #ffffff);
    }

    &:last-child {
      border-bottom: 0;
    }

    &.active-user {
      background-color: #ffffff;
      /* Fallback Color */
      background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f9fb), to(#ffffff));
      /* Saf4+, Chrome */
      background-image: -webkit-linear-gradient(right, #f7f9fb, #ffffff);
      /* Chrome 10+, Saf5.1+, iOS 5+ */
      background-image: -moz-linear-gradient(right, #f7f9fb, #ffffff);
      /* FF3.6 */
      background-image: -ms-linear-gradient(right, #f7f9fb, #ffffff);
      /* IE10 */
      background-image: -o-linear-gradient(right, #f7f9fb, #ffffff);
      /* Opera 11.10+ */
      background-image: linear-gradient(right, #f7f9fb, #ffffff);
    }

    .user {
      display: inline-block;
      position: relative;
      margin-right: 10px;

      img {
        width: 48px;
        height: 48px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
      }

      .status {
        width: 10px;
        height: 10px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        background: #e6ecf3;
        position: absolute;
        top: 0;
        right: 0;

        &.online {
          background: #9ec94a;
        }

        &.offline {
          background: #c4d2e2;
        }

        &.away {
          background: #f9be52;
        }

        &.busy {
          background: #fd7274;
        }
      }
    }

    p {
      &.name-time {
        font-weight: 600;
        font-size: .85rem;
        display: inline-block;

        .time {
          font-weight: 400;
          font-size: .7rem;
          text-align: right;
          color: #8796af;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .users {
    .person {
      .user {
        img {
          width: 30px;
          height: 30px;
        }
      }

      p {
        &.name-time {
          display: none;

          .time {
            display: none;
          }
        }
      }
    }
  }
}

.chat-search-box {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
  padding: .75rem 1rem;

  .input-group {
    .form-control {
      -webkit-border-radius: 2px 0 0 2px;
      -moz-border-radius: 2px 0 0 2px;
      border-radius: 2px 0 0 2px;
      border-right: 0;

      &:focus {
        border-right: 0;
      }
    }

    .input-group-btn {
      .btn {
        -webkit-border-radius: 0 2px 2px 0;
        -moz-border-radius: 0 2px 2px 0;
        border-radius: 0 2px 2px 0;
        margin: 0;

        i {
          font-size: 1.2rem;
          line-height: 100%;
          vertical-align: middle;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .chat-search-box {
    display: none;
  }
}
